<mat-toolbar color="primary">
    <span>SpotiPobre ;)</span>
    <span class="example-spacer"></span>
  </mat-toolbar>

<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Um por vez"> 
        <h2 id="title">Converter video do Youtube</h2>
        <div class="container">
            <div class="div-inputs">
                <mat-form-field appearance="outline" id="input-url">
                    <mat-label>URL</mat-label>
                    <input matInput [(ngModel)]="url">
                </mat-form-field>
                <mat-form-field appearance="outline" id="input-format">
                    <mat-label>Formato</mat-label>
                    <mat-select [(ngModel)]="format">
                        <mat-option value="downloadmp3">MP3</mat-option>
                        <mat-option value="downloadmp4">MP4</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div id="div-button-convert">
                <button mat-raised-button
                    [disabled]=convertButtonDisabled 
                    color="primary" 
                    (click)="convert()" 
                    id="button-convert">Converter</button>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Vários">
        Em breve...
    </mat-tab>
  </mat-tab-group>